@model ASP.Data.Scheduler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Scheduler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary", @type = "button" }) |
    @Html.ActionLink("Back to List", "Schedulers", "", htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })
</p>
